@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Noto+Sans&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
}

.question-container{
    max-width: 500px;
    height: 270px;
    box-shadow: 0 0 10px #463636;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    padding-top: 50px;

}
.question{
    font-weight: bold;
}

.submit{
    font-weight: 500;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    width: 100%;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    /* border-radius: 50px; */
    transition: 0.5s;
    color: #FF6347;
    border: 2px solid #5c261c;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #fff;
}

.submit:hover{
    background-color: #FF6347;
    color: #fff;
}

.question-container .radio{
    padding-top: 10px !important;
    display: block;
}

.heading{
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 0 1px #ff6347;
}
.result{
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 0 1px #ff6347;
}
.scoreResult{
    font-size: 1.4rem;
    text-align: center;
}